#totaldeaths{ color: red; }
#newdeaths{	color: darkred; }
#country { color:  white;}
#newconfirmed { color: grey; font-weight: bold; }
#totalconfirmed{ color: #626262; }
#newrecovered{ color: green; }
#totalrecovered{ color: darkgreen; }

