.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#stats {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  background-color: #000;
  width: 100%;
  margin: auto;
}
#stats tr th { background-color: #111;}
#stats td, #stats th {
  border: 0px solid #ddd;
  padding: 5px;
}
#stats td:hover {
  transition: all 0.3s;
  border: 2px solid orange;
  padding: 5px;
}

#stats tr:hover {background-color: #222;}

#stats th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #222;
  color: white;
}
#title { color: grey; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
